@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}


:root {
  --background: hsl(356.1 11.9% 96%);
  --foreground: hsl(31.3 79% 7%);
  --card: hsl(356.1 11.9% 96%);
  --card-foreground: hsl(31.3 79% 7%);
  --popover: hsl(356.1 11.9% 96%);
  --popover-foreground: hsl(31.3 79% 7%);
  --primary: hsl(358.1 82.3% 26.1%);
  --primary-foreground: hsl(38.3 47.4% 86.4%);
  --secondary: hsl(41.3 40.1% 88.5%);
  --secondary-foreground: hsl(1.1 37.3% 9.1%);
  --muted: hsl(41.3 40.1% 88.5%);
  --muted-foreground: hsl(43.3 17.1% 17.7%);
  --accent: hsl(41.3 40.1% 88.5%);
  --accent-foreground: hsl(1.1 37.3% 9.1%);
  --destructive: hsl(359.1 70% 25.3%);
  --destructive-foreground: hsl(50.3 64.5% 90.2%);
  --border: hsl(46.3 51.3% 88.1%);
  --input: hsl(46.3 51.3% 88.1%);
  --ring: hsl(358.1 82.3% 26.1%);
  --radius: 0.5rem;
}






@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}